:root {
  --primary-color: #d32424;
  --secondary-color: #b21b1b;
  --accent-color: #9cc375;
  --light-text: #e6e6e6;
  --btn-bg: #4a4a6a;
  --btn-hover: #9a2305;
  --result-bg: #9b9c9b;
  --highlight: #e24414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: var(--light-text);
  background-image: url('LOVE_AND_PEACE.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 100%;
  max-width: 300px;
  background: rgb(30, 30, 46, 0.5);
  border-radius: 5px;
  box-shadow: none;
  overflow: hidden;
  border: none;
}

.calculator {
  padding: 10px;
}

.result {
  background: var(--result-bg);
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 10px;
  text-align: right;
  font-size: 1.5rem;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  font-family: monospace;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

.btn {
  font-size: large;
  font-weight: bold;
  border-radius: 3px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.btn:hover {
  box-shadow: 1px 1px 25px 10px rgb(255, 3, 3, 0.927);
}

.btn:hover:before {
  left: 100%;
}
.operator {
  background: var(--secondary-color);
  color: inherit;
}

.equals {
  background: var(--accent-color);
  color: #1b104a;
}

.double {
  grid-column: span 2;
  font-size: 1.2rem;
}

.special {
  background: #fcb900;
}

footer {
  padding: 5px;
  text-align: center;
  background: none;
  border-top: none;
}

.signature {
  font-size: 0.7rem;
  margin-bottom: 2px;
}

.github-btn {
  display: inline-block;
  background: #333;
  color: white;
  padding: 3px 5px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 0.8rem;
}

.github-btn:hover {
  background: #444;
}

.details {
  margin: 10px;
  background: none;
  border-radius: 0;
  overflow: hidden;
}

details {
  padding: 2px;
}

.author-info {
  padding: 2px;
  background: none;
  border-radius: 0;
  margin-top: 2px;
}

.author-info p {
  margin-bottom: 1px;
  font-size: 0.6rem;
}

.goal {
  padding: 5px;
  font-size: 0.8rem;
  line-height: 1.2;
  background: none;
  border-radius: 0;
  margin: 10px;
}

.highlight {
  background: var(--highlight);
  color: #333;
  padding: 1px 2px;
  border-radius: 0;
}
